.service-page-container{
  color: rgb(134, 199, 37);
  margin-left: 100px;
  margin-right: 100px;
}

.service-page-title{
  font-size: 40px;
  font-weight: bold;
}

.service-page-text{
  font-size: 25px;
}

.service-page-services{
  background-color: rgba(85, 85, 85, 0.5);
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;
  display: flex;
}

.service-img{
  height: 400px;
  width: 550px
}

.services-desc-box{
  margin-left: 20px;
}

.service-name{
  font-size: 35px;
  font-weight: 500;
}

.service-text{
  font-size: 20px;
}